
header {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}


#logo-id {
    width: 15%;
}

.searchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#id-searchbar {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin-right: 30px;
    border-radius: 15px;
    cursor: text;
}

.icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icons img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin: 25px;
}

.icons legend {
    font-size: 20px;
}

.searchbar .search-icon {
    width: 50px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.39);
    border-radius: 15px;
}


aside.panier {
    margin-top: 100px;
    position: fixed;
    top: 60px;
    right: 0;
    width: 15%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 2px solid black;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; 
}

aside.panier fieldset {
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 15px;
}

aside.panier legend {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#btn-voirpanier {
    margin-top: 900px;
}

.panier-footer {
    margin-top: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;
    padding: 10px 0;
}

.panier-footer button {
    color: white;
    background-color: rgb(250, 8, 8);
    border-radius: 15px;
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 60px;
}



.container {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    transition: transform 0.3s ease; 
    background-color: #d3d3d3!important;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05); 
    z-index: 10; 
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.733);
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#prix-id {
    margin-top: 2px;
    font-weight: bold;
}

#auteur-id {
    font-weight: bold;
}

#album-cards-container {
    margin-top: 90px;
    width: 80%;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-right: 250px; 
    position: relative;
}

/* Media Queries pour la responsivité */

@media (min-width: 1025px) {
    #burger-bt {
        display: none!important;
    }
}


/* Pour les écrans de taille moyenne (tablettes) */
@media (max-width: 1024px) {
    #logo-id {
        width: 20%;
    }

    #id-searchbar {
        width: 50%;
    }

    .icons img {
        width: 40px;
        margin: 15px;
    }

    aside.panier {
        width: 20%;
    }

    .container {
        padding-right: 20px;
    }

    #album-cards-container {
        margin-right: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #dropdown {
        display: none;
    }
}


/* Pour les petits écrans (téléphones) */
@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    h1 {
        text-align: center;
    }

    #logo-id {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    #id-searchbar {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .icons {
        display: none;
    }

    aside.panier {
        display: none;
    }

    .panier-footer button {
        width: 70%;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    #album-cards-container {
        width: 100% !important;              
        margin: auto !important;             
        display: flex !important;             
        flex-wrap: wrap !important;         
        justify-content: center !important;   
    }

    .card {
        width: 90%!important;
        margin: 5px !important;            
        box-sizing: border-box !important;   
    }

    .card img {
        height: 100% !important;
        width: 100% !important;
    }

    .burger-bt {
        margin: auto;
    }
}
